*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
p,
h1 {
  margin: 0;
}

body {
  font-family: system-ui;
}

.header {
  padding-block: 2em;
  text-align: center;
}

header h1 {
  font-size: clamp(1.6em, 7vw, 4em);
}

.main {
  width: min(95%, 50em);
  margin: 0 auto 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5em;
}

.picture {
  width: 100%;
}

.picture img {
  max-width: 100%;
  border-radius: 6px;
  padding: 1.5em;
  border: 1px solid hsl(0, 1%, 66%);
}

.picture figcaption {
  margin-top: 0.75em;
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 1.2em;
}

p a {
  color: hsl(348, 83%, 47%);
}

p a:hover {
  color: hsl(348, 83%, 80%);
  text-decoration: none;
}

p:nth-last-child(-n + 2) {
  font-size: 1.4em;
}
